<!DOCTYPE html>
<html>
  <head>
    <title>Gmail</title>
    <link rel="shortcut icon" href="https://ssl.gstatic.com/ui/v1/icons/mail/images/favicon5.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/active-main.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper-body">
      <div class="header">
        <div class="wrap-logo h-48">
          <img
            class="logo"
            src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x.png"
            alt="logo"
          />
        </div>
        <div class="container-search">
                <div class="wrap-search-bar h-48">
                        <div class="wrap-search-i">
                          <div class="btn-icon rd-left">
                            <div class="icon">
                              <i class="material-icons">search</i>
                            </div>
                          </div>
                        </div>
                        <input type="text" placeholder="Tìm kiếm trong thư" />
                        <div class="wrap-search-i">
                          <div class="btn-icon rd-right">
                            <div class="icon">
                              <i class="material-icons">arrow_drop_down</i>
                            </div>
                          </div>
                        </div>  
                      </div>
        </div>
        <div class="btn-icon-end m-l-10">
                <div class="icon-end">
                  <i class="material-icons">help_outline</i>
                </div>
              </div>
        <div class="btn-icon-end m-l-10">
                    <div class="icon-end">
                      <i class="material-icons">apps</i>
                    </div>
                  </div>
        <div class="btn-icon-end m-l-10 size-46 m-r-10">
                        <div class="icon-name-end">
                          <p class="name-user">T</p>
                        </div>
                      </div>
            </div>
      </div>
      <div class="container-content">
        <div class="left">
                <div class="container-compose"> 
                    <div class="wrap-compose m-l-10">
                        <div class="btn-compose-i">
                        </div>
                        <a class="btn-compose-text" >
                          Soạn thư
                        </a>
                    </div>
                </div>
                <div class="menu-option">
                  <ul class="list-option style-3" id="list-option" >
                    <li class="item-option active-option">
                      <div class="item-icon active-option-1"></div>
                      <div class="wrap-right-option">
                          <a>Hộp thư đến</a>
                          <div class="garbage">
                            1
                          </div>
                      </div>  
                  </li>
                    <li class="item-option">
                        <div class="item-icon item-i-2"></div>
                        <div class="wrap-right-option">
                            <a>Quan trọng</a>
                            <div class="garbage">
                              1
                            </div>
                        </div>  
                    </li>
                    <li class="item-option">
                        <div class="item-icon item-i-3"></div>
                        <div class="wrap-right-option">
                            <a >Đã tạm ẩn</a>
                            <div class="garbage">
                              1
                            </div>
                        </div>  
                    </li>
                    <li class="item-option">
                        <div class="item-icon item-i-4"></div>
                        <div class="wrap-right-option">
                            <a >Đã gửi</a>
                            <div class="garbage">
                              1
                            </div>
                        </div>  
                    </li>
                    <li class="item-option"  onclick="toggle_isMore()">
                        <div class="item-icon item-i-5"></div>
                        <div class="wrap-right-option">
                            <a class="text-more">Danh sách mở rộng</a>
                            <div class="garbage">
                             
                            </div>
                        </div>  
                    </li>
                    <li class="item-option">
                        <div class="item-icon item-i-6"></div>
                        <div class="wrap-right-option">
                            <a >Bản nháp</a>
                            <div class="garbage">
                              1
                            </div>
                        </div>  
                    </li>
                    <li class="item-option">
                        <div class="item-icon item-i-7"></div>
                        <div class="wrap-right-option">
                            <a >Spam</a>
                            <div class="garbage">
                              1
                            </div>
                        </div>  
                    </li>
                    <li class="item-option">
                        <div class="item-icon item-i-8"></div>
                        <div class="wrap-right-option">
                            <a >Thùng rác</a>
                            <div class="garbage">
                              1
                            </div>
                        </div>  
                    </li>
                  </ul>
                </div>
                <div class="container-ellip">
                  <div class="wrap-ellip"></div>
                </div>
                <div class="info-recent">
                  <div class="info-acc">
                      <div class="info-user">
                        <i class="material-icons acc-img">account_circle</i>
                        <div class="circle"></div>
                        <div class="wrap-name">
                          <span class="name-user">TRAN</span>
                          <i class="material-icons">arrow_drop_down</i>
                        </div> 
                      </div>
                      <div class="btn-add-info">
                        <i class="material-icons"> add </i>
                      </div>
                  </div>
                  <div class="talk-recent">
                    <div class="wrap-talk">
                      <div class="icon-talk"></div>
                      <div class="state-talk">
                        Không có cuộc trò chuyện nào gần đây
                      </div>
                      <div class="start-talk">
                        <a href="">Bắt đầu cuộc trò chuyện mới</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="footer-info">
                  <div class="wrap-icon1">
                      <div class="list-hangout"></div>
                  </div>
                  <div class="wrap-icon2">
                      <div class="talk-hangout"></div>
                  </div>   
                </div>
        </div>
        <div class="content">
          <div class="header-content">
              <div class="wrap-cbox">
                  <div class="cbox-icon all-btn" id="all-btn"></div>
                <div class="down-icon wrap-i">
                  <i class="material-icons">arrow_drop_down</i>
                </div>
              </div>
              <div class="size-40 wrap-i">
                  <i class="material-icons" >refresh</i>
              </div>
              <div class="size-40 wrap-i">
                  <i class="material-icons" >	more_vert</i>
              </div>
              <div class="text-num-page ">
                  1-50 trong số 1.066
               </div>
              <div class="size-40 wrap-i">
                  <i class="material-icons" >navigate_before</i>
              </div>
              <div class="size-40 wrap-i">
                  <i class="material-icons" >navigate_next</i>
              </div>
              <div class="size-40 wrap-i">
                  <i class="material-icons" >settings</i>
              </div>
          </div>
          <ul class="list-content style-1" id="list-content">
              <li class="bar-content"> 
                <div class="primary">
                  <div class="primary-icon icon-bar"></div>
                  <div class="primary-text text-bar">Chính</div>
                </div>
                <div class="social">
                    <div class="social-icon icon-bar"></div>
                    <div class="social-text text-bar">Xã hội</div>
                </div>
                <div class="advertise">
                    <div class="advertise-icon icon-bar"></div>
                    <div class="advertise-text text-bar">Quảng cáo</div>
                </div>
              </li>
              <li class="item-list-content">
                <div class="size-40 icon-item check-box"></div>
                <div class="important-state size-40 icon-item"></div>
                <div class="sender">
                  <div class="name-sender">
                    Bui Thi Thanh Thanh
                  </div>
                </div>
                <div class="info-item">
                  <div class="title-info">
                    Thông báo lịch thông đồ án
                  </div>
                </div>
                <div class="real-time">
                  30 thg 4
                </div>
              </li>
              <li class="item-list-content">
                  <div class=" check-box size-40 icon-item"></div>
                  <div class="important-state size-40 icon-item"></div>
                  <div class="sender">
                    <div class="name-sender">
                      Bui Thi Thanh Thanh
                    </div>
                  </div>
                  <div class="info-item">
                    <div class="title-info">
                      Thông báo lịch thông đồ án
                    </div>
                  </div>
                  <div class="real-time">
                    30 thg 4
                  </div>
                </li>
                <li class="item-list-content">
                    <div class=" check-box size-40 icon-item"></div>
                    <div class="important-state size-40 icon-item"></div>
                    <div class="sender">
                      <div class="name-sender">
                        Bui Thi Thanh Thanh
                      </div>
                    </div>
                    <div class="info-item">
                      <div class="title-info">
                        Thông báo lịch thông đồ án
                      </div>
                    </div>
                    <div class="real-time">
                      30 thg 4
                    </div>
                  </li>
            
          </ul>
        </div>
        <div class="right"></div>
      </div>
    </div>
  </body>
  <!-- Scripts file -->
  <script src="../js/main.js"></script>
</html>
